@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

:root {
  --font-family-default: "Red Hat Display", sans-serif;
  --clr-primary-1: hsl(225, 100%, 94%);
  --clr-primary-2: hsl(245, 75%, 52%);
  --clr-neutral-1: hsl(225, 100%, 98%);
  --clr-neutral-2: hsl(224, 23%, 55%);
  --clr-neutral-3: hsl(223, 47%, 23%);
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;
}

body {
  font-family: var(--font-family-default);
  font-size: 1rem; /* 16px */
  font-weight: var(--fw-500);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(images/pattern-background-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 1.6;
  color: var(--clr-neutral-2);
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.card-container {
  margin: 0 1.5rem;
  border-radius: 1rem;
  overflow: hidden;
  background-color: white;
  max-width: 25rem;
}

.card-content {
  padding: 1.7rem;
}

.grid-flow {
  display: grid;
  gap: 1rem;
}

.card-title {
  font-size: 1.5rem;
  color: var(--clr-neutral-3);
  font-weight: var(--fw-900);
}

.card-plan {
  background-color: var(--clr-neutral-1);
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  font-size: 0.85rem;
}

.flex-row {
  display: flex;
  gap: 0.8rem;
}

.link {
  margin-left: auto;
  border: 0;
  background-color: transparent;
  text-decoration: underline;
  color: var(--clr-primary-2);
  cursor: pointer;
}

.fw-bold {
  font-weight: var(--fw-900);
  color: var(--clr-neutral-3);
}

.button {
  border: 0;
  background-color: transparent;
  color: var(--clr-neutral-2);
  cursor: pointer;
  font-weight: var(--fw-700);
}

.btn-proceed {
  background-color: var(--clr-primary-2);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.link:hover,
link:focus,
.btn-proceed:hover,
.btn-proceed:focus {
  opacity: 0.5;
}

.btn-cancel:hover,
.btn-cancel:focus {
  color: var(--clr-neutral-3);
}

@media screen and (min-width: 769px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }

  .card-title {
    font-size: 1.725rem;
  }
}
